@import './../fun/fun'

.main-btn
    border 1px solid #196cc8
    color #fff
    background #2177de
    linear-gradient(#398be7, #376cbb)

.save-btn
    border 1px solid #598527
    color #fff
    background #9ec666
    linear-gradient(#b8d987, #6a923c)

.cancel-btn
    border 1px solid #bfbfbf
    color #333
    background #bfbfbf
    linear-gradient(#fff, #d5d5d5)

.disable-btn
    border 1px solid #bfbfbf
    color #333
    background #bfbfbf
    linear-gradient(#d5d5d5, #fff)
    


